<%- include("header") -%>
<h1>About</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum maxime eligendi nostrum totam dicta ex iure nesciunt debitis accusamus hic magnam dolorem nulla quo asperiores eum, dolores aut deleniti omnis.</p>
<%- include("footer") -%>